{% load static %}
<header class="b-blue">
	<div class="row">
		<div class="col-sm-4 col-sm-push-1">
			<h2 class="f-20 f-white pt-5">
				Young Readers
			</h2>
		</div>
		<div class="col-lg-4 pull-r col-sm-pull-1 txt-r">
			{% if user.is_authenticated %}
				<div class="prof-items">
					<ul>
						<li>
							<i class="fa fa-bell"></i>
						</li>
						<li>
							<i class="fa fa-bookmark"></i>
						</li>
						<li>
							<i class="fa fa-shopping-cart"></i>
						</li>
					</ul>
				</div>
				<div class="acc-lo">
					<a href="#" class="f-white">{{user}}&nbsp;<i class="fa fa-sort-desc f-14"></i></a>
					<ul class="txt-l">
						{% if user.is_superuser %}
							<li>
								<a href="books/add">
									<i class="fa fa-book"></i>&nbsp;Add Book
								</a>
							</li>
							<li>
								<a href="books/barcodes">
									<i class="fa fa-barcode"></i>&nbsp;Add Barcode
								</a>
							</li>
						{% else %}
							<li><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</li>
							<li><i class="fa fa-map-marker"></i>&nbsp;Address Book</li>
							<li><i class="fa fa-user"></i>&nbsp;My Profile</li>
							<li><i class="fa fa-key"></i>&nbsp;Change Password</li>
						{% endif %}
						<li ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;Logout</li>
					</ul>
				</div>
			{% else %}
				<button class="btn f-white b-blue bd" ng-click="redirect('/login/')">Sign In/Sign Up</button>
			{% endif %}
		</div>
	</div>
</header>
