{% load static %}
<!-- External scripts -->
    <script type="text/javascript" src="{% static "scripts/ext/angular.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-route.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-resource.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-cookies.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/xeditable.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/ui-bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-animate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-sanitize.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-growl.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/moment.min.js" %}"></script>
<!-- External scripts end -->

<!-- scripts -->
<script type="text/javascript" src="{% static "scripts/app.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/base.js"%}"></script>
<!-- scripts end -->
<!-- Configuraiton -->
<script>
    mainApp.constant("djangoConstants", {
        'csrfToken' : "{{csrf_token}}",
        'userSiteObj' : (function(){
            var data = {
                is_superuser:'{{user.is_superuser}}'
            };
            return data;
        })(),
        'staticLink' : "{% static ""%}",
    });  
    WebFontConfig = {
        google: { families: [ 'Lato::latin' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();      
</script>
<!-- Configuration END -->