{% load static %}
<!-- External scripts -->
    <script type="text/javascript" src="{% static "scripts/ext/angular.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-route.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-resource.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-cookies.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/xeditable.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/ui-bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-animate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-sanitize.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/angular-growl.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/ext/moment.min.js" %}"></script>
<!-- External scripts end -->

<!-- scripts -->
<script type="text/javascript" src="{% static "scripts/app.js"%}"></script>
<script type="text/javascript" src="{% static "scripts/base.js"%}"></script>
<!-- scripts end -->
<!-- Configuraiton -->
<script>
    mainApp.constant("djangoConstants", {
        'csrfToken' : "{{csrf_token}}",
        'userSiteObj' : (function(){
            var data = {
                is_superuser:'{{user.is_superuser}}'
            };
            return data;
        })(),
        'staticLink' : "{% static ""%}",
    });        
</script>
<!-- Configuration END -->