<section class="branner-wrap">
	<div class="wrapper">
		<h1 class="txt-c f-60 pt-35 f-white">Young Readers CLC</h1>
		<h2 class="txt-c f-28 pt-20 f-white">Over 4000 books for children</h2>
		<div class="row pt-35">
			<div class="search-wrap col-lg-6 col-sm-push-3">
				<div class="input-group">
					<!-- <div class="seacrh-type">
						<ul>
							<li></li>
						</ul>
					</div> -->
					<input class="full-w f-20" type="text" placeholder="Search Books"> 
					<span class="input-group-addon b-blue f-white">
						<i class="fa fa-search"></i>&nbsp;Search
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container-f books-wrapper">
	<div class="row pt-35">
		<h2 class="f-28 p-15 txt-c col-sm-8 col-sm-push-2">Latest Books</h2>
	</div>
	<div class="row pl-35 pr-35">
		<div class="col-lg-2 pb-10" ng-repeat="book in books">
			<div class="book-wrap">
				<div class="book-img" style="background-image:url({[book.image]})"></div>
				<div class="book-detail">
					<a href="{[book.title]}" class="pt-10 pl-10">{[book.title]}</a>

					<div class="add-cart">
						<button class="btn b-blue f-white txt-c f-12">
							<i class="fa fa-shopping-cart"></i>&nbsp;Add
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>